<header>
    <nav class="flex aling-center navbar">
        <div id="hamburger_btn">
            <p></p>
            <p></p>
            <p></p>

        </div>
        <ul class="ul flex aling-center margin_L_R-auto width_90vw space_between res_display-column " id="navbar_ul">

            <span class="flex aling-center justify-center">

                <i class="fa-sharp fa-solid fa-snowflake fa  "></i> <a href="/wheather"
                    class="underline_none clr_white boldfont title"> Wheather</a><i
                    class="fa-sharp fa-solid fa-snowflake fa  "></i>


            </span>


            <span class="flex res_display-column aling-center">

                <li class="li_style_none text-right"><a class="underline_none clr_white" href="/">Home</a></li>
                <li class="li_style_none text-right"><a class="underline_none clr_white" href="/about">About Us</a></li>
                <li class="li_style_none text-right"><a class="underline_none clr_white" href="/wheather">Wheather</a>
                </li>
            </span>

        </ul>


    </nav>
</header>