<!DOCTYPE html>
<html lang="en">

    <head>
        {{>headtag}}
        <title>404 Eror page</title>
    </head>

    <body>
        {{>navbar}}
        <div class="width_90vw  margin_L_R-auto maincontainer ">
            <section class="section1">

                <img src="image/404 error iamge.jpg" alt="404 error page " class="width_100per height_100per">

            </section>
            <section class="section2 width_100per ">
                <p> This page is not found </p>
                <p> Please click button and go back home page</p>
                <a href="/">
                    <button class="btn1">click</button>
                </a>
            </section>
        </div>





        {{>footer}}
        <script src="https://kit.fontawesome.com/dcee1ae286.js" crossorigin="anonymous"></script>
        <script src="Javascript/about.js"></script>
    </body>

</html>




















 



 















   