<!DOCTYPE html>
<html lang="en">

    <head>
        {{>headtag}}
        <title> About page</title>

    </head>

    <body>

        {{!-- Navbar  --}}
        {{>navbar}}

        <div class="width_90vw  margin_L_R-auto maincontainer">
            <div class=" sectiondiv flex aling-center justify-center sectiondiv">

                <section class="left_section aboutleft_section ">
                    <div class="test_bg_gree0n textdiv abouttextdiv">

                        <h1 class="boldfon homepageheading">My Introduction</h1>
                        <p class="homepagepara"> Hello My dear friend and My Name is <sapn class="span"> Amit I am
                                MERN STACK DEVLOPER</sapn> from Gurugram Sector 79



                        </p>
                        <a href="/wheather"><button class="btn1">Wheather</button></a>
                        {{!-- /wheather --}}
                    </div>
                </section>

                <section class="aboutright_section flex aling-center justify-center flex-colounm ">




                    <figure class="width_100per height_100per imgabout">

                        <img src=" image/man image.png " class="width_100per height_100per " id="aboutimage">


                    </figure>




                </section>
            </div>




        </div>

        {{>footer}}
        <script src="https://kit.fontawesome.com/dcee1ae286.js" crossorigin="anonymous"></script>
        <script src="Javascript/about.js"></script>
    </body>

</html>